# idea project settings #
*.iml
*.ipr
*.iws
.idea/*
.idea

# eclipse settings
/.settings/

# Package Files #
*.war
*.ear


# root of compiled classes #
target/**/*
target/**
classes/
bin/

# the local maven repository #
lib/
mvn-local-repo/**/*
release.properties
/.classpath
/.project
/build/

# gradle configuration files #
.gradle/

