# idea project settings #
*.iml
*.ipr
*.iws
.idea/*
.idea

# Package Files #
*.war
*.ear


# root of compiled classes #
target/**/*
target/**

# the local maven repository #
mvn-local-repo/**/*
release.properties
/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
